<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://www.epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPromotionManager1"
                contract="ManagersService.IPromotionManager" name="BasicHttpBinding_IPromotionManager" />
            <endpoint address="http://www.epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConferenceManager1"
                contract="ManagersService.IConferenceManager" name="BasicHttpBinding_IConferenceManager" />
            <endpoint address="http://www.epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILinkManager1"
                contract="ManagersService.ILinkManager" name="BasicHttpBinding_ILinkManager" />
            <endpoint address="http://www.epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberManager1"
                contract="ManagersService.IMemberManager" name="BasicHttpBinding_IMemberManager" />
            <endpoint address="http://www.epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsManager1"
                contract="ManagersService.INewsManager" name="BasicHttpBinding_INewsManager" />
            <endpoint address="http://www.epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProjectManager1"
                contract="ManagersService.IProjectManager" name="BasicHttpBinding_IProjectManager" />
            <endpoint address="http://www.epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISlideManager1"
                contract="ManagersService.ISlideManager" name="BasicHttpBinding_ISlideManager" />
            <endpoint address="http://www.epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShowManager1"
                contract="ManagersService.IShowManager" name="BasicHttpBinding_IShowManager" />
            <endpoint address="http://www.epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICampusManager1"
                contract="ManagersService.ICampusManager" name="BasicHttpBinding_ICampusManager" />
        </client>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPromotionManager" />
                <binding name="BasicHttpBinding_IConferenceManager" />
                <binding name="BasicHttpBinding_ILinkManager" />
                <binding name="BasicHttpBinding_IMemberManager" />
                <binding name="BasicHttpBinding_INewsManager" />
                <binding name="BasicHttpBinding_IProjectManager" />
                <binding name="BasicHttpBinding_ISlideManager" />
                <binding name="BasicHttpBinding_IShowManager" />
                <binding name="BasicHttpBinding_ICampusManager" />
                <binding name="BasicHttpBinding_IPromotionManager1" />
                <binding name="BasicHttpBinding_IConferenceManager1" />
                <binding name="BasicHttpBinding_ILinkManager1" />
                <binding name="BasicHttpBinding_IMemberManager1" />
                <binding name="BasicHttpBinding_INewsManager1" />
                <binding name="BasicHttpBinding_IProjectManager1" />
                <binding name="BasicHttpBinding_ISlideManager1" />
                <binding name="BasicHttpBinding_IShowManager1" />
                <binding name="BasicHttpBinding_ICampusManager1" />
            </basicHttpBinding>
        </bindings>
        <clinkt>
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPromotionManager"
                contract="ManagersService.IPromotionManager" name="BasicHttpBinding_IPromotionManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConferenceManager"
                contract="ManagersService.IConferenceManager" name="BasicHttpBinding_IConferenceManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILinkManager"
                contract="ManagersService.ILinkManager" name="BasicHttpBinding_ILinkManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMemberManager"
                contract="ManagersService.IMemberManager" name="BasicHttpBinding_IMemberManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsManager"
                contract="ManagersService.INewsManager" name="BasicHttpBinding_INewsManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProjectManager"
                contract="ManagersService.IProjectManager" name="BasicHttpBinding_IProjectManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISlideManager"
                contract="ManagersService.ISlideManager" name="BasicHttpBinding_ISlideManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IShowManager"
                contract="ManagersService.IShowManager" name="BasicHttpBinding_IShowManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICampusManager"
                contract="ManagersService.ICampusManager" name="BasicHttpBinding_ICampusManager" />
        </clinkt>
    </system.serviceModel>
</configuration>