<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClasseManager" />
                <binding name="BasicHttpBinding_IConferenceManager" />
                <binding name="BasicHttpBinding_ILienManager" />
                <binding name="BasicHttpBinding_IMembreManager" />
                <binding name="BasicHttpBinding_INewsManager" />
                <binding name="BasicHttpBinding_IProjetManager" />
                <binding name="BasicHttpBinding_IPubliciteManager" />
                <binding name="BasicHttpBinding_ISalonManager" />
                <binding name="BasicHttpBinding_IVilleManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClasseManager"
                contract="ManagersService.IClasseManager" name="BasicHttpBinding_IClasseManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConferenceManager"
                contract="ManagersService.IConferenceManager" name="BasicHttpBinding_IConferenceManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILienManager"
                contract="ManagersService.ILienManager" name="BasicHttpBinding_ILienManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMembreManager"
                contract="ManagersService.IMembreManager" name="BasicHttpBinding_IMembreManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewsManager"
                contract="ManagersService.INewsManager" name="BasicHttpBinding_INewsManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProjetManager"
                contract="ManagersService.IProjetManager" name="BasicHttpBinding_IProjetManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPubliciteManager"
                contract="ManagersService.IPubliciteManager" name="BasicHttpBinding_IPubliciteManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISalonManager"
                contract="ManagersService.ISalonManager" name="BasicHttpBinding_ISalonManager" />
            <endpoint address="http://epsilab.net/webservices/ManagersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVilleManager"
                contract="ManagersService.IVilleManager" name="BasicHttpBinding_IVilleManager" />
        </client>
    </system.serviceModel>
</configuration>