@using SolarSystem.Mars.ViewController.Resources

@{
    ViewBag.Title = PagesTitlesRessources.Unauthorized;
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<p>@MessagesResources.UnauthorizedAccess</p>
<img src="~/Assets/Logo.png" alt="Logo Epsilab" style="margin: 0 auto" class="img-responsive" />